body {
    font-family: Arial, sans-serif;
    background-image: url('about1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weather-card {
	
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px; 
}

.title {
    color: #26355D;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #26355D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1e2d4d;
}

#weather-info {
    display: none;
    margin-top: 20px;
}

.weather-icon {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

#city-name, #date, #temperature, #description, #wind-speed {
    margin: 5px 0;
}

.highlight {
    font-weight: bold;
    color: #26355D;
    font-size: 18px;
}

body {
    background-color: #c8a2c8; /* Lilac color */
}